
div.poem {
  font-family: typewriter;
  padding: 20 px;
}


/* FONTS */
@font-face {
  font-family: 'typewriter';
  src: url('fonts/font_typewriter.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('fonts/font_typerwriter.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 
